<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   
   <!-- servlet definitions -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>murach.Controllers.Home</servlet-class>
    </servlet>
    
    <servlet>
    	<servlet-name>LoginPage</servlet-name>
    	<servlet-class>murach.Controllers.LoginController</servlet-class>
    </servlet>
    
    <!-- 5 Servlet -->
    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework5_Servlet</servlet-class>
    </servlet>
    
    <!-- 6 JSTL -->
    <servlet>
        <servlet-name>ServletSurvey</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework6_EL_JSTL</servlet-class>
    </servlet>
    
    <!-- 7_1 Cookie -->
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework7_Cookie</servlet-class>
    </servlet>
    <!-- 7_2 Hidden fields -->
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework7_HiddenFields</servlet-class>
    </servlet>
    
    <!-- 8 EL -->
    <servlet>
        <servlet-name>EmailListServlet1</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework8_EL</servlet-class>
    </servlet>
    
    <!-- 9_1 JSTL -->
    <servlet>
        <servlet-name>DownloadServlet1</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework9_1_JSTL</servlet-class>
    </servlet>
    
    <!-- 9_2 JSTL -->
    <servlet>
        <servlet-name>CartServlet1</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework9_2_JSTL_CartServlet</servlet-class>
    </servlet>
    <!-- <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>murach.Controllers.Homework.Homework9_2_JSTL_ProductsServlet</servlet-class>
    </servlet> -->
    

    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/hihi</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>LoginPage</servlet-name>
    	<url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/homework/5/emailList</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ServletSurvey</servlet-name>
        <url-pattern>/homework/6/survey</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/homework/7/1/download</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/homework/7/2/cart</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EmailListServlet1</servlet-name>
        <url-pattern>/homework/8/emailList</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DownloadServlet1</servlet-name>
        <url-pattern>/homework/9/1/download</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CartServlet1</servlet-name>
        <url-pattern>/homework/9/2/cart</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/homework/9/2/loadProducts</url-pattern>
    </servlet-mapping> -->
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- <resource-ref>
        <description>postgreSQL Datasource example</description>
        <res-ref-name>jdbc/murach</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref> -->
</web-app>



